
<h1 align="center">Trabajamos para resaltar tu belleza</h1>


<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=link_to image_tag("mis_imagenes/IMG-20190226-WA0005.jpg")%>         
    </div>
    <div class="carousel-item">
      <%=link_to image_tag("mis_imagenes/IMG-20190226-WA0008.jpg")%>  
    </div>
    <div class="carousel-item">
      <%=link_to image_tag("mis_imagenes/IMG-20190226-WA0013.jpg")%>
    </div>
    <div class="carousel-item">
      <%=link_to image_tag("mis_imagenes/WA0002.jpg")%>
    </div>
    <div class="carousel-item">
      <%=link_to image_tag("mis_imagenes/WA0003.jpg")%>
    </div>
    <div class="carousel-item">
      <%=link_to image_tag("mis_imagenes/WA0001.jpg")%>
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>    


<br>
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.6528149861111!2d-75.59792941229347!3d6.182752617486347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46823f5a8c18a9%3A0x54eeed05eb486fbe!2sACADEMIA+DE+BELLEZA+SANDRA!5e0!3m2!1ses-419!2sco!4v1557261837585!5m2!1ses-419!2sco" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
<footer>
	<div class="info-container">
    <div class="info-main">
        <h3>CONTACTENOS</h3>
        <p>Un espacio dedicado a hombres, mujeres y niños donde podrán acceder
        a los más altos estándares de belleza y calidad, con las últimas tendencias mundiales.</p>
        <a href="#">Mas Informacion</a>
    </div>
    <div class="footer-conteiner">
        <div class="footer-main">
          <div class="footer-columna">
            <h3>Suscribete</h3>
            </br>
            <%= link_to 'Suscribete', edit_user_registration_path, :class=>'nav-link',style: 'color:white;',class:"btn btn-primary "  %>
          </div>
          <div class="footer-columna">
            <h3>Direccion</h3>
            <span class="fas fa-map-marker" style="font-size:18px"><p>Cr 55D #44-15</p> </span>
            <span class="fas fa-phone" style="font-size:18px"><p>+57 3735256</p></span>
            <span class="fas fa-envelope" style="font-size:18px"><p>info@PeinArte.com</p></span>
          </div>
          <div class="footer-columna">
            <h2>Sobre Nosotros</h2>
            <p>Atendido por expertos con los mejores productos del mercado.</p>
            <p>• VISÍTENOS HOY •</p>
          </div>
      </div>
    </div>
  	<div class="footer-copy-redes">
    	<div class="main-copy-redes" align="center">
    		<div class="footer-copy">
	     		© copyright SENA - Centro de Formacion en Diseño, Confeccion y Moda - 2018.
	   		</div>
	   		<div class="footer-redes"style="text-align: center;">
  	      <a href="#" class="fab fa-facebook" style="font-size:36px"></a>
    	    <a href="#" class="fab fa-twitter" style="font-size:36px"></a>
    	    <a href="#" class="fab fa-instagram" style="font-size:36px"></a>
			</div>
    	</div>
  	</div>
   
</footer>
