<p id="notice"><%= notice %></p>

<h1 align="center">Servicios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Duración</th>    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicios.each do |servicio| %>
      <tr>
        <td><%= servicio.nombre %></td>
        <td><%= servicio.duracion %></td>        
        <td><%= link_to 'Show', servicio %></td>
        <td><%= link_to 'Edit', edit_servicio_path(servicio) %></td>
        <td><%= link_to 'Destroy', servicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir Servicio', new_servicio_path, class:"btn btn-success btn-sm" %>
