<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de Servicio:</strong>
  <%= @servicio.tipo_de_servicio.nombre %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @servicio.nombre %>
</p>

<p>
  <strong>Duración:</strong>
  <%= @servicio.duracion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @servicio.precio %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @servicio.impuesto.valor %>
</p>

<%= link_to 'Editar', edit_servicio_path(@servicio) %> |
<%= link_to 'Atras', servicios_path %>
