<p id="notice"><%= notice %></p>

<h1 align="center">Tipo De Servicios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_de_servicios.each do |tipo_de_servicio| %>
      <tr>
        <td><%= tipo_de_servicio.nombre %></td>
        <td><%= link_to 'Mostrar', tipo_de_servicio,class:"btn btn-info btn-sm" %></td>
        <td><%= link_to 'Editar', edit_tipo_de_servicio_path(tipo_de_servicio), class:"btn btn-warning btn-sm" %></td>
        <td><%= link_to 'Eliminar', tipo_de_servicio, method: :delete, data: { confirm: 'Esta seguro?' },class:"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Añadir Tipo De Servicio', new_tipo_de_servicio_path, class:"btn btn-success btn-sm" %>
