<p id="notice"><%= notice %></p>

<p>
  <strong>Cargo:</strong>
  <%= @empleado.cargo %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @empleado.persona.nombre %>
</p>

<%= link_to 'Editar', edit_empleado_path(@empleado) %> |
<%= link_to 'Atras', empleados_path %>
