<p id="notice"><%= notice %></p>

<h1>Personas</h1>
<%= form_tag(personas_path, method: :get) do %>
   <%= text_field_tag :term, params[:term] %>
   <%= submit_tag 'Search', name: nil %>
<% end %>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Tipo documento</th>
      <th>Identificación</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Fecha nacimiento</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= persona.documento.try(:nombre)%></td>
        <td><%= persona.identificacion %></td>
        <td><%= persona.nombre %></td>
        <td><%= persona.direccion %></td>
        <td><%= persona.telefono %></td>
        <td><%= persona.celular %></td>
        <td><%= persona.correo %></td>
        <td><%= persona.fecha_nacimiento%></td>
        <td><%= link_to 'ver', persona, class:"btn btn-info btn-sm"%></td>
        <td><%= link_to 'Editar', edit_persona_path(persona),class:"btn btn-warning btn-sm" %></td>
        <td><%= link_to 'Eliminar', persona, method: :delete, data: { confirm: 'Esta seguro?' },class:"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'Agregar Persona', new_persona_path,class:"btn btn-success" %>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @tasks %>
</div>
  <%= will_paginate @personas, :container => false %>
</div>