<p id="notice"><%= notice %></p>

<h1 align="center">Productos</h1>

<table class="table table-responsive" >

  <thead>
    <tr>
      <th>Codigo producto</th>
      <th>Nombre</th>
      <th>Unidad</th>
      <th>Valor unitario</th>
      <th>Cantidad</th>
      <th>Marca</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.codigo_producto %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.unidad %></td>
        <td><%= producto.valor_unitario %></td>
        <td><%= producto.cantidad %></td>
        <td><%= producto.marca.try(:nombre)  %></td>
        <td><%= link_to 'Ver', producto ,class:"btn btn-info btn-sm"%></td>
        <td><%= link_to 'Editar', edit_producto_path(producto), class:"btn btn-warning btn-sm"%></td>
        <td><%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'Esta seguro?'},class:"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Añadir Producto', new_producto_path, class:"btn btn-success btn-sm"%>
