
<%= simple_form_for(@citum) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="row"align="right"> 
    <div class="col-md-4 ">
      <%= f.association :servicio %>
    </div>
    <div class="col-md-4 ">
      <%= f.association :empleado %>
    </div>
    <div class="col-md-4 ">
      <%= f.input :fecha %>
    </div>
  </div>
  <div class="row"align="right">
    <div class="col-md-4 ">
      <%= f.input :hora %>
    </div>
    <div class="col-md-4 ">
      <%= f.association :user %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  
<% end %>

