<p id="notice"><%= notice %></p>

<h1 align="center">Cita</h1>

<table class="table">
  <thead >
    <tr>
      <th >Servicio</th>
      <th>Empleado</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cita.each do |citum| %>
      <tr>
        <td><%= citum.servicio.try(:nombre) %></td>
        <td><%= citum.empleado.persona.try(:nombre) %></td>
        <td><%= citum.fecha %></td>
        <td><%= citum.hora %></td>
        <td><%= citum.user.try(:name) %></td>
        <td><%= link_to 'Mostrar', citum,  class:"btn btn-info btn-sm" %></td>
        <td><%= link_to 'Editar', edit_citum_path(citum),class:"btn btn-warning btn-sm" %></td>
        <td><%= link_to 'Eliminar', citum, method: :delete, data: { confirm: 'Esta seguro?' },class:"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir cita', new_citum_path, class:"btn btn-success btn-sm" %>

<div id="calendar"> </div>
<script>
    $('#calendar').fullCalendar({
       citum: <%= @cita.to_json.html_safe %>
    })
</script>
<br/>
