<p id="notice"><%= notice %></p>

<p>
  <strong>Servicio:</strong>
  <%= @citum.servicio.nombre %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @citum.empleado.persona.nombre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @citum.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @citum.hora %>
</p>

<p>
  <strong>User:</strong>
  <%= @citum.user.name %>
</p>

<%= link_to 'Editar', edit_citum_path(@citum) %> |
<%= link_to 'Atras', cita_path %>
