<p id="notice"><%= notice %></p>
<div class="container">
	<div class= "row">	
    <div class="col-md-4 mb-1"></div>		
      <p align="center">
    <div class="card"style="width:28rem;" >
			<div class="card-body">
        <p>
          <strong>Servicio:</strong>
            <%= @citum.servicio.nombre %>
        </p>

        <p>
          <strong>Empleado:</strong>
           <%= @citum.empleado.persona.nombre %>
        </p>

        <p>
          <strong>Fecha:</strong>
          <%= @citum.fecha %>
        </p>

        <p>
          <strong>Hora:</strong>
          <%= @citum.hora %>
        </p>

      </div>
    </div>
    </p>
  </div>
</div>
<br/>
<div class="col-md-12 mb-1" align="center"> 
  <%= link_to 'Editar', edit_citum_path(@citum),class:"btn btn-warning" %> 
  <%= link_to 'Atras', cita_path , class:"btn btn-warning"%>
</div>