<p id="notice"><%= notice %></p>

<p>
  <strong>Servicio:</strong>
  <%= @citum.servicio %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @citum.empleado %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @citum.fecha %>
</p>

<p>
  <strong>User:</strong>
  <%= @citum.user %>
</p>

<%= link_to 'Editar', edit_citum_path(@citum) %> |
<%= link_to 'Atras', cita_path %>
