<p id="notice"><%= notice %></p>

<h1 align="center">Impuestos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Valor</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @impuestos.each do |impuesto| %>
      <tr>
        <td><%= impuesto.nombre %></td>
        <td><%= impuesto.valor %></td>
        <td><%= impuesto.estado %></td>
        <td><%= link_to 'Mostrar', impuesto , class:"btn btn-info btn-sm"%></td>
        <td><%= link_to 'Editar', edit_impuesto_path(impuesto),class:"btn btn-warning btn-sm" %></td>
        <td><%= link_to 'Eliminar', impuesto, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div>
  <%= link_to 'Añadir impuestos', new_impuesto_path ,class:"btn btn-success"%>
</div>
